@font-face {
  font-family: 'Zpix';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/zpix.woff2) format('woff2');
}

*{
    	font-family: 'Zpix';
	font-weight:700;
	color: white;
        text-shadow:2px 2px 1px black;
}

body {
    width:auto;
    height:auto;
 /*   min-width:1024px;
    min-height: 768px; */
    margin: 0 auto;
    padding:0;
    border:0;

}


h1{
    margin:0;
    border:0;
    padding:0;
}

img {
    display: block;
    margin: 0 auto;
}


.color-white {
    background-color:white;
}

.color-red {
    background-color:red;
}

.color-black {
    background-color:black;
}

.center{
    margin:0 auto;
    text-align:center;
}

.logo-title-h1 > h1{
    font-size:4em;
}

.p20 {
    padding:20px 0;

}

.w250{
    width:250px;
}
