@import '_fonts.css';

html {
	font-family: 'Zpix';
	font-weight:700;
	color: white;
        text-shadow:2px 2px 1px black;
	background-color:red;
}


body {
        margin: 0 auto;
        padding:0;
        border:0;        
}

.center{
    text-align:center;
}

.center > img{
    width:250px;
    height:210px;
}

.center h1 {
    padding:0;
    border:0;

}

input, select, textarea, button {
  font-family: 'Zpix', sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
}

.register {
  padding: 16px;
  max-width: 320px;
  margin: 0 auto;
}

.segment {
  padding: 32px 0;
  text-align: center;
}

button, input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #EBECF0;
  text-shadow: 1px 1px 0 #FFF;
}

label {
  display: block;
  margin-bottom: 24px;
  width: 100%;
}

input {
  margin-right: 8px;
  box-shadow: inset 2px 2px 5px #000, inset -5px -5px 10px #FFF;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}
input:focus {
  box-shadow: inset 1px 1px 2px #000, inset -1px -1px 2px #FFF;
}

button {
  color: #61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #000;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}
button:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #000;
}
button:active {
  box-shadow: inset 1px 1px 2px #000, inset -1px -1px 2px #FFF;
}
button .icon {
  margin-right: 8px;
}
button.unit {
  border-radius: 8px;
  line-height: 0;
  min-width: 48px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 10px 8px;
  font-size: 19.2px;
}
button.unit .icon {
  margin-right: 0;
}
button.red {
  display: block;
  width: 100%;
  color: #AE1100;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.input-group label {
  margin: 0;
  flex: 1;
}

a {
    color: #61677C;
    text-shadow: 1px 1px 0 #fff;
    outline: none;
    text-decoration: none;
    margin:0;
    padding:20px 0 20px 0;
}
