@import '../main.css';
@import '../_base.css';

body {
    background-image:url(../../images/dark.png);
    background-repeat:repeat;
    margin:0 auto;

}

/****导航栏****/
.nav{
    margin:0 auto;
    width:30rem;
}

.nav > ul{
    padding:0;
    width:100%;
}

.nav > ul li{
    display:inline;
}

.nav > ul li a {
    display:inline-block;
    width:5rem;
    line-height: 3;
    text-align:center;
    font-size:.5rem;
}

.nav > ul li:last-child a {
    margin-right: 0;
}

.nav > ul li a:hover {
    text-shadow:-5px -5px 20px #fff, 10px 10px 20px #fff;
}


/****主内容****/
.content{
    width:30rem;
    margin:0 auto;
}


/*第一列信息*/
.cont-one{
    display:flex;
    justify-content:space-around;
}

.cont-one > span{
    width:7rem;
    height:7rem;
    font-size:.4rem;
    text-align:center;
    display:block;
    border:.1rem solid white;
    border-radius:.5rem;
    overflow:hidden;
}

.cont-one > span  img{
    width:100%;
    height:100%;
}

.cont-one span a:last-child{
    position: relative;
    bottom: 10%;
    padding:10px;
    background-color:rgba(38,38,38,.5);
}


/****页脚****/
.footer{


}
